<h1>Register</h1>


<!-- <shield-user [user]="user"></shield-user> -->



<form nz-form [formGroup]="signupForm" (ngSubmit)="addUser()" *ngIf="showForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired nzTooltipTitle="First Name">
      <span>First Name</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your First name!">
      <input nz-input id="firstName" formControlName="firstName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired nzTooltipTitle="First Name">
      <span>LastName</span>
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your Last name!">
      <input nz-input id="lastName" formControlName="lastName" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="row" *ngIf="showMsg">
  <div class="col-xs-12">
    <div class="alert alert-success">
      <strong>Hey, {{data.firstName}}!</strong>
      <p>Thank you for signing up!</p>
      <a>Go back</a>

    </div>
  </div>
</div>

<nz-switch [(ngModel)]="show"></nz-switch>
<nz-list *ngIf="show" nzBordered nzSize="small">
  <nz-list-item *ngFor="let t of user" class="user">{{t.firstName}} {{t.lastName}} {{t.email}}</nz-list-item>

</nz-list>
